
<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="2"</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.body %></td>
      <td><%= link_to 'Show', blog %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Delete', blog, method: :delete, data: {confirm: "Are you sure?" } %></td>
    </tr> 

  <% end %>

  <p><%= link_to 'New', new_blog_path %></p>