<p id="notice"><%= notice %></p>

<p>
  <h1>Title:</h1>
  <%= @blog.title %>
</p>

<p>
  <h1>Body:</h1>
  <%= @blog.body %>
</p>

<%= link_to "Edit", edit_blog_path(@blog) %> | 
<%= link_to "Back", blogs_path(@blog) %>